:root {
    --container-width: 1200px;
    --container-height: 800px;
    --perspective-offset: 600px;
}

#container {
    position: absolute;
    width: var(--container-width);
    height: var(--container-height);
    border: 2px solid #000000;
    perspective: var(--perspective-offset);
    overflow: hidden;
}
.world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}
.square {
    position: absolute;
}
/* .pawn {
    display: none;
    position: absolute;
    top: calc(var(--container-height) / 2);
    left: calc(var(--container-width) / 2);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
} */
